/*楼梯部分*/
#nav {
	width: 80px;
    background: #fff;
    padding-bottom: 15px;
    overflow: hidden;
	position: fixed;
	top: 150px;
	left:5px;
	border: 1px solid #ddd;
	display: none;
	z-index: 5;
}
#nav ul li {
	width: 80px;
	height: 32px;
	border-bottom: 1px dotted #DDDDDD;
	list-style: none;
	font-size: 12px;
	color: #666;
	text-align: center;
	line-height: 32px;
	position: relative;
	cursor: pointer;
}

#nav ul li.last {
	background: #C00;
	color: #fff;
	border-bottom: 1px solid #ddd;
}
#nav ul li.hover {
	background: #01060B;
	color: #fff;
	display: block;
}
#nav ul li.hover .active {
	background: #c00;
	color: #fff;
	display: block;
}
#nav ul li span.active {
	background: #fff;
	color: #c00;
	display: block;
}
/*侧栏部分*/
.sidebar{
	position: fixed;
	right: 0;
	top: 0px;
	width: 36px;
	height: 100%;
	background:#000000;
	z-index: 2;
	
	
}
.sidebar .sidebar_top{
	width: 30px;
	height:40px;
	position: absolute;
	top: 20%;
	background: url(img/nitemf_09.png) no-repeat  center;
}
.sidebar_car{
	position: absolute;
	color: #FFFFFF;
	padding-top: 30px;
	top:25% ;
	width: 30px;
	height: 82px;
	text-align: center;
	
	background: url(img/nitemf_05.png) no-repeat  top;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
}
.sidebar_car p{
	margin-top: 5px;
}
.sidebar_collect{
	width: 30px;
	height: 30px;
	background: url(img/nitemf_04.png) no-repeat  center;
	position: absolute;
	top:45% ;
}
/*shouji*/
.sidebarph{
	width: 30px;
	height: 30px;
	background: url(img/nitemf_03.png) no-repeat  center;
	position: absolute;
	top:55% ;
}
/*微信*/
.sidebar_w{
	width: 30px;
	height: 30px;
	background: url(img/nitemf_08.png) no-repeat  right;
	position: absolute;
	top:65%;
	
}
.sidebar_ej{
	width: 30px;
	height: 30px;
	background: url(img/nitemf_06.png) no-repeat  right;
	position: absolute;
	top:75% ;
}
.sidebar_di{
	width: 30px;
	height: 30px;
	background: url(img/nitemf_07.png) no-repeat  right;
	position: absolute;
	top:90% ;
}
/*隐藏*/
.cart_case{
	position: fixed;
	top: 0;
	right: 36px;
	height: 1087px;
	width: 200px;
	background: #E0E0E0;
	z-index: 2;
	display: none;
	
}
.cart_case ul li{
	width: 200px;
	height: 100px;
	border-bottom: 1px solid #000000;
}
.shouchang{
	border: 1px solid #e5e5e5;
    border-right: none;
    background-color: #fff;
	width: 105px;
    height: 34px;
    line-height: 34px;
	position: fixed;
	top:45% ;
	right: 36px;
	text-align: center;
	color: #444;;
	z-index:100;
	display: none;
}

.sahh{
	position: fixed;
	top:55%;
	width: 108px;
	height: 147px;
	right: 36px
	background: url(img/app.jpg) no-repeat center;
	z-index:100;
	display: none;
}
.weixing{
	
	position: fixed;
	top:65%;
	width: 108px;
	height: 147px;
	right: 36px;
	background: url(img/wei01.jpg) no-repeat center;
	z-index:2;
	display: none;
}
.kefu{
	border: 1px solid #e5e5e5;
    border-right: none;
    background-color: #fff;
	width: 105px;
    height: 34px;
    line-height: 34px;
	position: fixed;
	top:75% ;
	right: 36px;
	text-align: center;
	color: #444;;
	z-index:100;
	display: none;
}
.htop{
	border: 1px solid #e5e5e5;
    border-right: none;
    background-color: #fff;
	width: 105px;
    height: 34px;
    line-height: 34px;
	position: fixed;
	top:90% ;
	right: 36px;
	text-align: center;
	color: #444;;
	z-index:100;
	display: none;
}
.beij{background: #e50163;width: 30px;
	opacity: 1;
    height: 34px;}
/*头部登录*/
.top{width: 100%;height: 160px;}
.top .loginmax{width:100%;height: 27px;background-color: #f6f6f6; border-bottom: 1px solid #f4f4f4;}
.top .loginmax .register{margin-left:700px ; height: 27px;}
.loginmax .register li{ margin:5px 0px;float: left; width: 60px; color:#747474 ; height:16px;border-right: 1px solid #e8e8e8;
font-size:8px; text-align: center;line-height: 16px;  }
.loginmax .register li img{vertical-align: middle;}
.loginmax .register li a{ color: #8E8E8E;}
.loginmax .register li a:hover{ color: #A02041;}
.top .loginmax .loginmax-reg{width:1200px;height: 27px; margin: 0 auto;}
.loginmax .register .reg-last{ border: none;}

/*搜索*/
.top .header{width: 100%;height: 133px; }
.top .header li{float: left;}
.top .header .header-box{width: 1200px;margin: 0 auto;}
.top .header .header-img{margin-top: 60px;}
.top .header .header-input{margin: 65px 0 0 70px;}
.top .header .header-input li{ width:55px;height: 16px; line-height: 16px;
text-align: center; border-right:1px solid #747474; color: #D7D7D7;}
.top .header .header-input input{width: 454px;height: 35px;float: left; border: 2px solid #FF0000; }
.top .header .header-input span{float: left; color: #fff;  font-size:16px;display:inline-block;width: 92px;height: 41px; background: red; line-height: 41px;text-align: center;}
.top .header .header-posn{margin:30px 0 0 30px;}
.top .header .header-box .header-posn li{width:80px;height: 23px; border: 1px solid #E8E8E8;line-height: 23px; text-align: center;}
.top .header .header-box .header-posn li:hover{background: black;color:#fff; cursor: pointer;}
/*菜单*/
.daohan{width: 100%;height:54px ;}
.daohan .daohang-box{width: 1200px; margin: 0 auto;}
.daohan a{ display:inline-block;float: left;}
.daohan .daohang-li1{width:120px; height:54px;background: url(../img/daohang_01.jpg);}
.daohan .daohang-li2{width:120px; height:54px;background: url(../img/daohang_02.jpg);}
.daohan .daohang-li3{width:120px; height:54px;background: url(../img/daohang_03.jpg);}
.daohan .daohang-li4{width:120px; height:54px;background: url(../img/daohang_04.jpg);}
.daohan .daohang-li5{width:120px; height:54px;background: url(../img/daohang_05.jpg);}
.daohan .daohang-li6{width:120px; height:54px;background: url(../img/daohang_06.jpg);}
.daohan .daohang-li7{width:120px; height:54px;background: url(../img/daohang_07.jpg);}
.daohan .daohang-li8{width:120px; height:54px;background: url(../img/daohang_08.jpg);}
.daohan .daohang-li9{width:120px; height:54px;background: url(../img/daohang_09.jpg);}
.daohan .daohang-li10{width:120px; height:54px;background: url(../img/daohang_10.jpg);}
.daohan .daohang-li1:hover{background: url(../img/bg_01.jpg);cursor: pointer;}
.daohan .daohang-li2:hover{background: url(../img/bg_02.jpg);cursor: pointer;}
.daohan .daohang-li3:hover{background: url(../img/bg_03.jpg);cursor: pointer;}
.daohan .daohang-li4:hover{background: url(../img/bg_04.jpg);cursor: pointer;}
.daohan .daohang-li5:hover{background: url(../img/bg_05.jpg);cursor: pointer;}
.daohan .daohang-li6:hover{background: url(../img/bg_06.jpg);cursor: pointer;}
.daohan .daohang-li7:hover{background: url(../img/bg_07.jpg);cursor: pointer;}
.daohan .daohang-li8:hover{background: url(../img/bg_08.jpg);cursor: pointer;}
.daohan .daohang-li9:hover{background: url(../img/bg_09.jpg);cursor: pointer;}
.daohan .daohang-li10:hover{background: url(../img/bg_10.jpg);cursor: pointer;}
.banner{margin: 0 auto; width: 1200px;}
/*banner*/
.hh{ background: url(../img/bnner_01.jpg)no-repeat center top;}
.box{width: 100%; height: 672px; }
.banner{width:1200px; height: 672px; position: relative;}
.banner-img {width: 1200px;height: 672px; overflow: hidden; }
.list{
		width: 162px;
		height: 20px;
		
		position: absolute;
		right:20px;
		bottom: 15px;
		border-radius: 12px;
	}
.list li{
	float: left;
	list-style: none;
	width:15px;
	height:15px;
	border-radius: 70%;
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid #fff;
	background: black;
	
}
.list .hov{background: #FFFFFF;}
.list li:hover{
	background: #FFFFFF;
}
.nav_con{width: 209px; height:672px ; position: absolute;top:0;
left: 0;}
.second ,.second2 ,.second3{
	width: 207px; 
	height:470px ; 
	position: absolute;top:0;
	left: 207px; 
	background: #FFFEFF;
	border: 1px solid #E0E0E0;
	display: none;
}

 .nav_con ul li {
 	width:189px;
    padding: 25px 0 18px 18px;
    border-bottom: 1px solid #dedede;
    filter: alpha(opacity=100);
    background: rgba(255,255,255,1);
    opacity: 1;
}
.nav_con ul li h3{font-size:26px; color: #000000; font-weight: bold;}
.nav_con ul .li1 .licon {
	width: 175px;
    background:url(img/icon_1.png) no-repeat right center;
}
.nav_con ul li h4{
	display: inline-block; width: 136px; color: #747474;}
.nav_con ul li h4 a{color: #747474;}
.nav_con .erji {
	background: #E00065;
	color: #FFFEFF;
	width: 209px;
	
}
.nav_con .ha{
	color: #FFFEFF;
}
.second ul li {
 
    padding: 25px 0 18px 18px;
    
    filter: alpha(opacity=100);
    background: rgba(255,255,255,1);
    opacity: 1;
}
.second ul li dt{font-size:16px; color: #000000; font-weight: bold;}
.second ul .li1 .licon {
	width: 170px;
    
}
.second ul li dd{ 
	margin-top: 20px;
	width: 136px; color: #747474;}
.second ul li dd a{color: #747474;}
.second2 ul li {
 
    padding: 25px 0 18px 18px;
    
    filter: alpha(opacity=100);
    background: rgba(255,255,255,1);
    opacity: 1;
}
.second2 ul li dt{font-size:16px; color: #000000; font-weight: bold;}
.second2 ul .li1 .licon {
	width: 170px;
    
}
.second2 ul li dd{ 
	margin-top: 20px;
	width: 136px; color: #747474;}
.second2 ul li dd a{color: #747474;}
.second3 ul li {
 
    padding: 25px 0 18px 18px;
    
    filter: alpha(opacity=100);
    background: rgba(255,255,255,1);
    opacity: 1;
}
.second3 ul li dt{font-size:16px; color: #000000; font-weight: bold;}
.second3 ul .li1 .licon {
	width: 170px;
    
}
.second3 ul li dd{ 
	margin-top: 20px;
	width: 136px; color: #747474;}
.second3 ul li dd a{color: #747474;}

.nav_con .nav_bottom {
    height: 111px;
    background: #fff;
    overflow: hidden;
    opacity: 1;
    filter: alpha(opacity=100);
}
/*tab切换*/
.tab .tab-titile{padding-left:300px; width: 900px; height: 36px; font-size: 20px; color: #FFFFFF;}
.tab .tab-titile ul li{ float: left; width: 100px;}
.tab .pic{width:1200px; position: relative;}
.tab .tab-titile .tabc{
	color:#000000;
	width: 100px; 
	background:#FFFEFF;
	height: 34px;
	text-align: center;
	border-bottom: 2px solid red;
 }
.img2list{
		width: 162px;
		height: 20px;
		
		position: absolute;
		right:20px;
		bottom: 15px;
		border-radius: 12px;
	}
.img2list li{
	float: left;
	list-style: none;
	width:15px;
	height:15px;
	border-radius: 70%;
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid #fff;
	background: black;
	
}
.img2list .hov{background: #FFFFFF;}
.img2list li:hover{
	background: #FFFFFF;
}
.tab .pic .pn{position: absolute;left: 0;top:135px;}
.tab .pic .pn .prev{ position: absolute; left:0px;}
.tab .pic .pn .next{ position: absolute; left:1090px;}
.bannerimg2 {width: 1200px;height: 672px; overflow: hidden; }
/*ms_new*/
.ms_new{ width: 1200px; margin-top: 74px;position: relative}
.ms_new .ms_new_img {;overflow: hidden; width: 1200px; height: 730px;}
.ms_new .ms_new_img img{ }
.ms_new .ms_new_img ul li{display: none;  float: left;}
.ms_prev{ position: absolute; top:283px; left:0px;}
.ms_next{ position: absolute; top:283px;left:1090px;}
/*active*/
.active_new img{ display:block; border:none; float: left;}
/*女士*/
.womennew{margin: 0 auto;}
.women{position: relative;}
.women .wimg{position: absolute;top: 0;left: 30px;}
.ms_list dl{ float: left; margin: 8px 10px 10px  0; width: 232px; overflow: hidden;}
.ms_list .wlast{margin-right: 0;}
.ms_list{ height:783px;}
.ms_list dl dd{margin-top:15px; text-align: center; color: #666;}
.ms_list dl dd p{margin-top:15px; color: #000000; font-size: 16px;}
.hallyu{position: relative;display: inline-block;}
.hallyu .hallyu_img{position: absolute;top: 0;left: 30px;}
/*--优选大品牌--*/
.ms_nav{width: 1200px; height:165px; margin:0 auto; background: #fff;}
.ms_brandmp{ width: 1200px; height:533px;position:relative; margin:0 auto;}
.ms_brandmp .c-nav{width: 111px; height:533px; background: #fff;position:absolute;left: 0;top: 0;}
.ms_brandmp .c-nav span{  border:none;display:block;width: 111px; height:133px; line-height: 133px; text-align: center;font-size: ;}
.ms_brandmp .c-nav .c_li1{background: url(../img/c-navy00.jpg) no-repeat center top;}
.ms_brandmp .c-nav .c_li2{background: url(../img/c-navy01.jpg) no-repeat center top;}
.ms_brandmp .c-nav .c_li3{background: url(../img/c-navy02.jpg) no-repeat center top;}
.ms_brandmp .c-nav .c_li4{background: url(../img/c-navy03.jpg) no-repeat center top;}
.ms_brandmp .c-li li{ float: left; display: none;}
/*热销商品*/
.hot{ height: 8200px;}
.hot_show{margin-top: 20px;}
.hot_show dl {
    width: 232px;
    float: left;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    display: block;
}
.hot_show dl img{vertical-align : bottom}
.hot_show.hot_last{
	margin-right: 0px;
}
.hot_show dl dd .title {
    line-height: 20px;
    height: 20px;
    display: block;
    color: #808080;
    font-size: 12px;
    font-family: "微软雅黑";
    text-align: left;
    float: left;
    padding: 10px 5px 0;
    font-size: 12px;
    width: 155px;
}
.hot_show dl dd .price {
    height: 22px;
    overflow: hidden;
    display: block;
    line-height: 22px;
    float: right;
    text-align: center;
    font-size: 20px;
    width: 67px;
    background: #ff3f44;
    height: 45px;
    font-family: "微软雅黑";
    color: #fff;
    padding-top: 13px;
    font-weight: normal;
    overflow: hidden;
}
/*底部*/
.footer {
    width: 100%;
  	height: 185px;
    padding-bottom: 50px;
    margin-top: 90px;
    background: #ececec;
}
.footer .m_info{ margin: 25px auto;width: 1200px; height: 144px; padding-top: 5px;}

.footer .m_info ul {float: left; padding-bottom: 0;
padding-left: 32px;*padding-left: 30px;padding-right: 32px;
padding-top: 0;}
.footer .m_info ul li{height: 25px; line-height: 25px;}
.footer .m_info ul li a {color:#747474;}
.footer .m_info ul .lititle a{font-size: 14px; font-weight: bold; color:#000000;}
.f_mbs_info {margin:0 auto; padding-top: 10px;  height:50px;}
.f_mbs_info ul li{ float: left; width: 200px; border-right: 1px solid #808080; padding: 0 10px;}
.copy_text{text-align: center;padding-top: 20px; height: 42px;}
.copy_text a{ color: #747474;}
.copy_text { color: #747474;}
.bottom{ margin: 0 auto;  width: 820px; height: 100px; padding-top: 20px; }
.bottom ul li{ float:left;}            